body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    border: .1rem solid #CCC;
}

.controller {
    display: flex;
    margin: 1rem 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.controller__select {
    flex: 1 1 50%;

    border: .1rem solid #CCC;
    overflow-y: scroll;
    box-shadow: inset 0 0 .5rem #EEE;
    min-width: 10rem;
    max-width: 20rem;
    height: 16rem;
    align-self: stretch;
}

.controller__option {
    padding: .3rem;
    cursor: pointer;
    margin: .1rem 0;
}

.controller__option[selected] {
    background-color: #F0F0F0;
}

.controller__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .5rem;
}

.controller__button {
    padding: 1rem;
    background-color: #F0F0F0;
}

@media (orientation: portrait) {
    .controller__select {
        min-width: auto;
    }
    .controller__option {
        padding: .5rem;
    }
}